*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.white {
    color: white;
}

h1 {
    font-weight: 900;
    font-size: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

img {
    width: 90%;
    justify-self: center;
}